
  /* ---------------------------------------NAV START--------------------------------------------------*/


  .container{
    width: 100%;
    height: 100%;
  }
/* Add background color to body */
.body {
  background-color:#F1E5D1;
}
/* span color */
.color{
  color: black;
}
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 10px;
  background-color: #987070;
  color: #fff;
}

.navbar_brand {
  font-size: 1.5rem;
  padding:20px 10px;
  font-weight: bold;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_links li {
  margin-right: 20px;
}

.navbar_links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar_links li:hover {
  background-color: #C39898;
  color: #F1E5D1;
  border-radius: 20px;
  padding: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-brand {
    margin-bottom: 10px;
  }
  .navbar-links {
    flex-direction: column;
  }
  .navbar-links ul {
    flex-direction: column;
  }
  .navbar-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.h1{
  margin-top: 50px;
  padding-top:20px ;
  padding-bottom:20px ;
  color:black;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none; /* or line-through, none */
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color:#C39898; /* or use background-image for gradients */
  text-align: center;
  font-family: 'Arial', sans-serif;  



}