
   /* ---------------------------------------form css--------------------------------------------------*/
   .container {
       max-width: 400px;
    max-height: 500vh;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: #987070 0px 0px 6px 0px;
    margin: 20px;
    margin-left: 600px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color:#987070;
}

.form {
    margin-top: 20px;
}

.form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 
    #C39898 0px 10px 10px -5px;
    border-inline: 1px solid transparent;
}
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
      outline: none;
      border-inline: 2px solid  #C39898 ;
    }

  
    .form .login_button {
    display: block;
    width: 100%;
    font-weight: bold;
    background-color:#987070 ;
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login_button:hover {
      transform: scale(1.03);
      box-shadow: -1px 13px 18px -9px rgba(152,112,112,1);
    }
    
    .form .login_button:active {
      transform: scale(0.95);
      box-shadow: -1px 13px 18px -9px rgba(152,112,112,1);

    }
    
    
    
    
    .agreement {
        display: block;
        text-align: center;
        margin-top: 15px;
  }
  
  .agreement a {
      text-decoration: none;
      color: #0099ff;
      font-size: 9px;
    }
    /* ---------------------------------------FORM END--------------------------------------------------*/

